<div class="underwater">
  <div class="underwater__header">
    <account-info></account-info>
    <div class="spacer"></div>
    <common-time></common-time>
    <account-operation></account-operation>
  </div>
  <div class="underwater__body">
    <div class="side-nav">
      <side-nav></side-nav>
    </div>
    <main class="underwater__wrapper">
      <div class="wrapper-breadcrumb">
        <breadcrumb></breadcrumb>
      </div>
      <div class="wrapper-content"><router-outlet></router-outlet></div>
    </main>
  </div>
</div>
