html,
body {
  height: 100%;
  /* min-width: 800px;
  min-height: 600px; */
  font-family: "Source Han Sans CN Normal";
  background: hsl(214, 13%, 25%);
  color: #99abb4;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  color: #9ea2a9;
}

a:hover {
  color: #fff;
}
a,
a[href] {
  text-decoration: none;
}
input[type="button"i],
input[type="submit"i],
input[type="reset"i],
input[type="file"i]::-webkit-file-upload-button,
button {
  background-color: black;
  color: white;
}
