.common-time {
  display: flex;
  background: #2d3559;
  padding: 10px 20px;
  align-items: center;
  border-radius: 100px;

  .time-slot {
    font-size: 18px;
    color: #d8f4ff;
  }
  .slash {
    width: 1px;
    height: 20px;
    margin: 0 10px;
    background-color: #8692d3;
  }
  .date-slot {
    color: #d0d7ff;
    font-size: 16px;
    font-weight: normal;
  }
}
